/* nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

li {
    display: inline;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

a {
    display: block;
    padding: 8px;
    background-color: #333;
}
ul {
    background-color: #333;
}
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* body */

.container{
    margin: 0 auto;
    font-size: 0;
}
h2 {
    font-size: 16px;
}

p{
    font-size: 12px;
}
.container article {
    width: 79%;
    height: 600px;
    background-color: blueviolet;
    display:block;
    border: solid;
    border-color: #ff6934;
    margin-top:10px;
}

.container aside {
    display: inline-block;
    width: 20%;
    padding-bottom: 5%;
    vertical-align: top;
    background-color: aqua;
    float: right;
    border-radius: 5%;
}

.container footer{
    background-color:
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}